body{
    font-family: 'Lato', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
   font-family:  'Fanwood Text', serif;
}
h2{
    
    font-size: 30px;
}
#web-on{
    border-radius: 100px;
    border-left: 15px solid;
    border-width: 5px 5px;
    border-image: linear-gradient(pink,blue);
    border-image-slice: 1;
    
   
}
.ong-class{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
}
.side-width{
    width: 30%;

    padding-left: 10%;
    }
.side-width img{
    width: 80%;
    position: left;
}
.button{
    text-decoration: none;
    margin-top: 100px;
  margin-bottom: 100px;
    color: white;
    background-image: linear-gradient(pink, blue);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
   }
#some-sp{
    text-align: center;
}
.bold{
    font-weight: bolder;
}
.three-po{
    width: 30%;
    padding: 2%;
    margin: 1.5%;
    border-radius: 15px;
}
.three-po img{
    width: 30%;
}

#mis
{
        background-color:rgb(114, 114, 206);
    }
    #vi{
        background-color: yellowgreen;
    }
    #go{
        background-color: violet;
    
    } 

    
.bt{
    text-align: center;
}

